<footer id="rh">

    <div class="container">
        <div class="row">

            <div class="col-sm-2">
                <img src="/opt/productization/uccps_log.svg" class="img-fluid" alt="Red Hat" style="height: 30px;">
            </div>

            <div class="col-sm-3">
                <p class="text-nowrap">Copyright © 2023 Uccps, Inc.</p>
            </div>



            <div class="col">
                <nav class="nav">
                </nav>
            </div>
        </div>
    </div>
</footer>
<div id="consent_blackbar" style="z-index: 100; position: fixed"></div>



<!-- Adobe DTM -->
<script type="text/javascript">
if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
   _satellite.pageBottom();
}
</script>
<!-- End Adobe DTM -->
